/* .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.form {
  max-width: 600px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 6px;
  margin: 0 auto 4rem;
}

.form label {
  font-size: 16px;
}

.form-control {
  padding: 14px 10px;
}

.container {
  max-width: unset;
}

@media only screen and (max-width: 576px) {
  .wrapper {
    padding: 10px;
    overflow: hidden;
  }
  .container {
    flex-direction: column;
    gap: 0 !important;
  }
  .form {
    margin: 0 auto 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper {
    padding: 10px;
  }
}

.form-group {
  margin-bottom: 1rem;
} */

/* .speciesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
} */
.speciesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 2.5rem 0 2.5rem;
}
.species {
  width: 130px;
  height: 130px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #cbcbcb;

  cursor: pointer;
  /* transition: all 0.2s linear; */
}

.species:hover {
  border-width: 5px;
}

/* .speciesContainer:active {
  border-width: 10px;
} */
.species > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
}
.species > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.backBtn {
  position: absolute;
  top: 14px;
  left: 20px;
  border-radius: 30px 0px 0px 30px;
}

.styledIcon {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}
