:root {
  --dark: #212529;
  --green: #3fcf8e;
  --darkGreen: #34b27b;
}

body {
  font-family: "Roboto", sans-serif !important;
}

/* Apply the custom style to all Bootstrap inputs */
input.form-control:focus,
input.form-control:active,
select.form-control:focus,
select.form-control:active,
input.form-check-input:focus,
input.form-check-input:active {
  outline: none;
  border-color: gray;
  box-shadow: 0 0 0 0.2rem #00000040;
}

input.form-check-input:checked {
  background-color: #00000052;
  border-color: #00000040;
}

input::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #00000066 !important;
}

/* STYLES */

.LayoutContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}

.nav-menu {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: unset;
}

.btnDark {
  color: white;
  background: var(--dark);
  border: 2px solid var(--dark);
  font-weight: 400;
  border-radius: 5px;
  padding: 0.3rem 2rem;

  transition: 0.2s all linear;
}

.btnDark:hover {
  background: white;
  color: var(--dark);
}

.inputsGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.form {
  max-width: 600px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 6px;
  margin: 0 auto 4rem;
}

@media only screen and (max-width: 576px) {
  .inputsGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .form {
    margin: 0 auto 1.5rem;
  }
}
