:root {
  --dark: #212529;
  --green: #3fcf8e;
  --darkGreen: #34b27b;
}

body {
  font-family: "Roboto", sans-serif !important;
}

/* Apply the custom style to all Bootstrap inputs */
input.form-control:focus,
input.form-control:active,
textarea.form-control:focus,
textarea.form-control:active,
select.form-select:focus,
select.form-select:active,
input.form-check-input:focus,
input.form-check-input:active {
  outline: none;
  border-color: gray;
  box-shadow: 0 0 0 0.2rem #00000040;
}
input[type="radio"] {
  accent-color: gray;
}
select.form-select option:hover {
  background-color: gray !important;
}
input.form-check-input:checked {
  background-color: #00000052;
  border-color: #00000040;
}

input::placeholder,
textarea::placeholder {
  font-size: 15px;
  color: #55555568 !important;
}

/* STYLES */

.LayoutContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}
.navMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-menu {
  color: #ffffffbf;
  font-size: 16px;
  font-weight: bold;
  text-decoration: unset;
  transition: 0.2s all linear;
}
.nav-menu:hover {
  color: white;
}

.logoutBtn {
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-decoration: unset;
  background-color: crimson;
  width: 100px;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  border: 2px solid white;
  transition: 0.2s all linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.logoutBtn:hover {
  background-color: transparent;
  color: crimson;
  border: 2px solid crimson;
}

.wrapper {
  margin-top: 8rem;
}

.btnDark {
  color: white;
  background: var(--dark);
  border: 2px solid var(--dark);
  font-weight: 400;
  border-radius: 5px;
  padding: 0.3rem 2rem;

  transition: 0.2s all linear;
}

.btnDark:hover {
  background: white;
  color: var(--dark);
}

.inputsGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.form {
  max-width: 600px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 6px;
  margin: 0 auto 4rem;
  position: relative;
}

.active {
  color: white;
}

@media only screen and (max-width: 576px) {
  .navMenuContainer {
    gap: 15px;
  }

  .wrapper {
    margin-top: 5.5rem;
  }
  .inputsGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .form {
    margin: 0 auto 1.5rem;
  }
  .nav-menu {
    font-size: 15px;
  }
  .logoutBtn {
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logoutBtn > span:nth-child(1) {
    display: none;
  }
  .logoutBtn > span:nth-child(2) {
    font-size: 20px;
  }
}
