/* .wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
} */

.text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  /* .wrapper {
    padding: 10px;
    overflow: hidden;
  } */
}
.addPetContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #f2f2f2;
  /* background: #ff0000; */
  right: 0;
  left: 0;
  z-index: 9;
  top: 66px;
  padding-block: 0.5rem;
}
.addPetContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 0;
  box-shadow: 0px -2px 6px 2px #f2f2f2;
}
.addPet {
  color: var(--dark);
  background: transparent;
  border: 3px solid var(--dark);
  font-weight: 500;
  border-radius: 25px;
  padding: 0.3rem 2rem;
  box-sizing: border-box;

  /* transition: 0.4s all; */
}

.addPet:hover {
  background: var(--dark);
  color: white;
}

.addPet > span:nth-child(1) {
  display: none;
}
.card {
  box-shadow: 0px 0px 6px 4px #dcdcdc;
  padding: 1rem;
  /* border-radius: 5px !important; */
  background: white;
  /* transition: 0.3s all ease; */
}

.card:hover {
  transform: scale(0.99);
  box-shadow: 0px 0px 2px 1px #dcdcdc;
}

.card-title h4 {
  font-size: 16px;
  color: var(--dark);
  margin-bottom: 10px;
}

.card-text {
  color: var(--dark);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  margin-bottom: 5px;
  line-height: 20px;
}

.card-text > span:nth-child(1) {
  position: relative;
}
.card-text > span:nth-child(2) {
  margin-left: 10px;
}
.fa-regular.fa-circle.fa-sm {
  color: var(--dark);
  font-size: 11px;
  position: absolute;
  top: 0px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  gap: 1rem;
}
.petCard {
  width: 390px;
  box-sizing: border-box;
}

@media only screen and (max-width: 576px) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    gap: 1rem; */
  }
  .petCard {
    max-width: 340px;
    /* width: 380px; */
  }
  .addPetContainer {
    background: transparent;
  }
  .addPetContainer::after {
    display: none;
  }
  .addPet {
    position: absolute;
    right: 12px;
    padding: 0;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 8px 2px #8b8b8ba6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addPet > span:nth-child(1) {
    display: block;
    font-size: 24px;
    font-weight: bold;
  }
  .addPet > span:nth-child(2) {
    display: none;
  }
}
