/* styles */
.btnPrimary {
  background-color: var(--green);
  border: 1px solid var(--darkGreen);
  color: white;
  padding-block: 0.5rem;
  border-radius: 5px;
  transition: 0.2s background-color linear;
}
.btnPrimary:hover {
  background-color: var(--darkGreen);
}

.btnSecondary {
  background-color: transparent;
  border: 2px solid var(--dark);
  color: var(--dark);
  padding-block: 0.5rem;
  border-radius: 5px;
  transition: 0.2s all linear;
}
.btnSecondary:hover {
  background-color: var(--dark);
  color: white;
}
